/*<%@ taglib uri="http://java.sun.com/jsp/istl/core" prefix='c'%>*/
/*<c:set var="path" value"${pageContext.request.contextPath}"/>*/
/*<!DOCTYPE html>*/
/*<html>*/
/*<head>*/
/*    <tilte>게시판</title>*/
/*    <link rel="stylesheet"*/
/*    href="${path}/resoures/css/style.css">*/
/*</head>*/
/*</html>*/
#list {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#list td, #list th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align:center;
}
#list tr:nth-child(even){background-color: #f2f2f2;}
#list tr:hover {background-color: #ddd;}
#list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #006bb3;
    color: white;
}